.footer{
	background: #2077c4;
    height: 100px;
    clear: both;
    color: #fff;
}

.footer-left{
	float: left;
	width: 50%;
}

.footer-right{
	float: left;
	width: 50%;
}

.footer-right p{
	float: right;
}

.footer-link{
	display: inline;
	border-right: solid 1px;
}

.footer-left p{
	margin-bottom: 0;
}

.footer-list{
	margin: 0;
	padding: 0;
}

.footer-link a{
	text-decoration: none;
	color: #fff;
	margin-right: 5px;
}

.footer-link-bottom{
	border-right: 0;
}