@font-face{
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face{
	font-family: 'Playfairdisplay';
	src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face{
	font-family: 'UbuntuLight';
	src: url('../fonts/Ubuntu-Light.ttf');
}

.header-title h1{
	display: inline;
    float: left;
    font-family: 'Inconsolata';
    letter-spacing: 10px;
}

.header-list{
	float: right;
	margin: 27px 0;
}

.header-link{
	display: inline;
	font-family: Playfairdisplay;
    margin: 0 23px;
}

.header-link a{
	text-decoration: none;
    color: #626262;
}

.title-container{
	max-width: 1500px;
    margin: 0 auto;
}

.header-picture img{
	width: 100%;
}