@font-face{
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face{
	font-family: 'Playfairdisplay';
	src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face{
	font-family: 'UbuntuLight';
	src: url('../fonts/Ubuntu-Light.ttf');
}

body{
	font-family: 'Arial';
}

.header-clear-1{
	background: #2485ca;
	height: 10px;
}

.container{
	max-width: 1200px;
    margin: 0 auto;
}

.header-1-left{
	float: left;
}

.header-1-right{
	float: right;	
	margin: 22px 0;
}

.header-1-title p{
	display: inline;
}

.header-1-title-small{
	position: relative;
    top: -28px;
    left: 50px;
    font-size: 12px;
}

.header-1-search{
	border: #f4f4f4 solid 1px;
}

.search{
	padding: 10px 10px;
    border-radius: 7px;
}

.header-2-content{
	clear: both;
}

.header-1-link{
	display: inline;
	margin: 0 0px;
	background: #fff;
    padding: 1px 15px;
}

.header-1-link a{
	text-decoration: none;
    color: #000;
}

.choose, .header-clear-2{
	background: #efefef;
}

.header-clear-2{
	height: 80px;
	clear: both;
}

.header-1-list{
	margin-bottom: 0;
	float: right;
}

.header-3-content{
	background: #2894d0;
    height: 100px;
}

.header-3-title{
	padding: 31px 0px;
}

.header-clear-3{
	height: 30px;
}