.main{
	height: 1300px;
}

.main-company-content-1{
	color: #a4a4a4;
}

.main-company-content-2{
	color: #5f5f5f;
}

.col-left{
	width: 60%;
    float: left;
}

.col-right{
	width: 40%;
    float: left;
}

.col-left-container{
	width: 90%;
}

.main-featured-left{
	float: left;
	width: 50%;
}

.main-featured-right{
	float: left;
	width: 50%;
}

.row-2{
	clear: both;
}

.main-featured-container{
	width: 90%;
}

.featured-icon{
	float: left;
	width: 30%;
}

.featured-content{
	float: left;
	width: 70%;
	color: #5f5f5f;
}

.feature-button{
	background: #238bcc;
    text-decoration: none;
    color: #fff;
    padding: 3px 12px;
    border-radius: 5px;
}

.new-in{
	margin: 18px 0;
}

.news-date p{
	background: #dbdbdb;
    display: inline;
    color: #fff;
    padding: 5px 10px;
}

.produce a{
	text-decoration: none;
}

.social-icon{
	float: left;
}

.social-content-center{
	margin: 5px 0;
}

.social-content-link{
	text-decoration: none;
}