.main{

}

.main .content{
	background: #fefae8;
}

.main-header{

}

.main-header ul{
	margin: 44px -43px;
}

.main-header li{
	display: inline;
    background-color: #87ab39;
    padding: 15px 68px;
}

.main-header a{
	text-decoration: none;
	color: #ffffff;
}

.main-picture{

}

.main-picture img{
	
}

.main-thanks{

}

.main-thanks-content{

}

.main-thanks-bottom{

}

.main-introduce{

}

.main-introduce-1{

}

.main-introduce-header{

}

.main-introduce-content{

}

.main-introduce-2{

}
